<div class="container border border-2 border-dark mt-2 pt-1 position-relative" style="background-color: #161616; --bs-border-opacity: .5;">
  <div class="row" >
    
    <div class="col-12 text-center">
      <p class="h1 text-light letra_lindas sombras_letras" style="font-size: xx-large;" id="encabezado_acerca_de_mi">
        ACERCA<span class="text-light sombras_letras me-3 ms-3"style="font-size:large ">DE</span>MI
      </p>
    </div>

    <div class="container border border-2 border-dark rounded border-top-0 border-start-0 border-end-0 pt-2 text-light" style="background-color: #1f1f1f;">
      <div class="row">

        <div class="col-12">
          <p class="text-center tamaño_letra sombras_letras"id="parrafo_acerca_de_mi">Hola ¿Que tal?<br> Actualmente cursando la carrera de Ingeniería en Informática en la FIUBA. <br>
          Estoy en busca de nuevos conocimientos y practicas para nutrir mis habilidades en el ámbito de la programación. <br>
          Me apasiona la música y a programacion. <br>  
          Me considero una persona Proactiva, tranquila, mas que capaz a la hora de trabajar en equipo y con una amplia habilidad para la resolucion de problematicas. <br> <span class="fw-bold">Mi especialización es Python y JavaScript.</span> </p>
        </div>

      </div>  
    </div>
    
  </div>
</div>