
    <div class="container mb-2 position-relative ">
      <div class="row">
        <div class="col-4 text-center">
          <img src="../../../assets/ejemplo_logo.jpg" class="img-thumbnail img-fluid rounded mx-auto d-block logo_empresa" alt="logo empresa">
        </div>
        <div class="col-8 border border-dark border-1 rounded position-relative text-light sombras_letras pt-3" style="background-color: #161616; --bs-border-opacity: .5;">
          <p class="text-center ">Puesto<br>Nombre empresa <br> tiempo de experiencia <br> datos de contacto</p>
        </div>
      </div>
    </div>

    <div class="container border border-dark border-1 rounded position-relative  text-light sombras_letras" style="background-color: #161616; --bs-border-opacity: .5;">
      <p class="text-center pt-3">descripcion trabajo</p>
    </div>
