<div class="container_fluid border rounded border-top-0 border-start-0 border-end-0 border-black border-3"style="--bs-border-opacity: 1;">
    <div class="masthead" style="background-image: url(../../../assets/banner_perfil.jpg)">
      <div class="color-overlay d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row" >
            <div class="col-12">
              <img src="../../../assets/foto_perfil.png" alt="" id="foto_perfil" class="img-fluid rounded mx-auto d-block border border-white border-2 rounded-circle mt-2" style="--bs-border-opacity: .5;"> 
            </div>           
          </div>
          <div class="row" >
            <div class="col-12">
              <h1 class="h1 d-flex justify-content-center align-items-center">Daniel Burgos Moreno</h1>
              <h2 class="h2 d-flex justify-content-center align-items-center">Full-Stack Developer</h2>
              <h4 class="h3 d-flex justify-content-center align-items-center">Estudiante de Ingenieria Informatica</h4>
              <h5 class="h5 d-flex justify-content-center align-items-center">FIUBA</h5>
              <h5 class="h5 text-muted d-flex justify-content-center align-items-center">Buenos Aires, Argentina</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>