<div class="container_fluid border rounded border-top-0 border-start-0 border-end-0 border-black border-3"style="--bs-border-opacity: 1;">
    <div class="masthead" style="background-image: url(../../../assets/banner_perfil.jpg)">
      <div class="color-overlay d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row" >
            <div class="col-12">
              <img src="../../../assets/foto_perfil.png" alt="" id="foto_perfil" class="img-fluid rounded mx-auto d-block border border-white border-2 rounded-circle mt-2" style="--bs-border-opacity: .5;"> 
            </div>           
          </div>
        
          <div class="row" >
            
            <div class="col-12 mt-3">
              <h1 class="h3 text-center fw-bold mt-2" style="font-size: xx-large;" id="nombre_persona">Daniel Burgos Moreno</h1>
              <h1 class="h1 text-center fw-bolder mt-3" style="font-size: xx-large;"id="nombre_profesion">Full-Stack Developer</h1>
              <h1 class="h3 text-center mt-3" style="font-size: x-large; "id="nombre_carrera">Estudiante de Ingenieria en Informatica</h1>
              <h1 class="h6 text-muted text-center fst-italic mt-2" id="nombre_institucion">UBA-FIUBA</h1>
              <h1 class="h5 text-muted text-center mt-4 fst-italic" style="position:sticky;" id="nombre_ubicacion">Buenos Aires, Argentina</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>