/* Styles para la nav-bar*/
.fondo_nav {
    background-color:#161616;

}
*{font-family: "roboto",sans-serif !important;

}

@font-face {
    font-family: "roboto";
    src: url(../src/assets/fonts/roboto/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: "roboto-Bold";
    src: url(../src/assets/fonts/roboto/RobotoMono-Bold.ttf);
}
@font-face {
    font-family: "roboto-Bold";
    src: url(../src/assets/fonts/roboto/RobotoMono-Italic.ttf);   
}
@font-face {
    font-family: "roboto-Bold";
    src: url(../src/assets/fonts/roboto/RobotoMono-Light.ttf);
}
@font-face {
    font-family: "roboto-Bold";
    src: url(../src/assets/fonts/roboto/RobotoMono-LightItalic.ttf);
}
 
.sombras_letras{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.tamaño_letra
{
    font-size: medium;
}
