<div class="container border border-2 border-dark mt-2 pt-1 position-relative" style="background-color: #161616; --bs-border-opacity: .5;">
    <div class="row" >
      <div class="col-12 text-center">
        <p class="h1 text-light sombras_letras " style="font-size: xx-large;" id="encabezado_acerca_de_mi"> PROYECTOS </p>
      </div>
  
      <div class="container border border-2 border-dark rounded border-top-0 border-start-0 border-end-0 pt-2 text-light " style="background-color: #1f1f1f;">
        <div class="row mt-2 mb-3" style="padding-left: 170px;">
         
        </div>     
      </div>  
    </div>
  