<div class="container border border-2 border-dark mt-2 pt-1 position-relative" style="background-color: #161616; --bs-border-opacity: .5;">
  <div class="row" >
    <div class="col-12 text-center">
      <p class="h1 text-light sombras_letras " style="font-size: xx-large;" id="encabezado_acerca_de_mi">
      EDUCACION
      </p>
    </div>
      
    <div class="container border border-2 border-dark rounded border-top-0 border-start-0 border-end-0 pt-2 text-light" style="background-color: #1f1f1f;">
      <div class="accordion pt-2 pb-3 " id="accordion">
        
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button text-light border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #1f1f1f;">
                Estudios Universitarios
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
            <div class="accordion-body" style="background-color: #1f1f1f;">
              <div class="container" >
                <div class="row">
                  <div class="col-3">
                    <app-estudios></app-estudios>
                  </div>
                  <div class="col-9">
                    <app-descripcion-estudios></app-descripcion-estudios>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-light border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color: #1f1f1f;">
              Cursos y ca
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body" style="background-color: #1f1f1f;">
              <div class="container" >
                <div class="row">
                  <div class="col-4">
                    <app-estudios></app-estudios>
                  </div>
                  <div class="col-8">
                    <app-descripcion-estudios></app-descripcion-estudios>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>