<div class="container mb-2 position-relative ">
  <div class="row">
    <div class="col-3 mb-3  text-center ">
      <a href=""><img src="../../../assets/ejemplo_logo.jpg" class="img-thumbnail img-fluid rounded mx-auto d-block" alt="logo_institucion"></a>
    </div>
    <div class="col-9 border border-dark border-1 rounded position-relative pt-2  text-light sombras_letras" style="background-color: #161616; --bs-border-opacity: .5;">
      <p class="text-center">Puesto<br>Nombre empresa <br> tiempo de experiencia <br> datos de contacto</p>
    </div>
  </div>
</div>
