<div class="container border border-2 border-dark mt-2 pt-1 position-relative" style="background-color: #161616; --bs-border-opacity: .5;">
  <div class="row" >
    <div class="col-12 text-center">
      <p class="h1 text-light sombras_letras " style="font-size: xx-large;" id="encabezado_acerca_de_mi"> HARD AND SOFT </p>
    </div>

    <div class="container border border-2 border-dark rounded border-top-0 border-start-0 border-end-0 pt-2 text-light " style="background-color: #1f1f1f;">
      <div class="row mt-2 mb-3" >
        <div class="col-4">
          <circle-progress
              [percent]="85"
              [radius]="70"
              [imageSrc]="'../../assets/html.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C100'"
              [innerStrokeColor]="'#C7E596'"
              [showSubtitle]="false"
              [animation]="true"
              [animationDuration]="630"  
              [responsive]="true" 
          ></circle-progress>
        </div>
        <div class="col-4">
          <circle-progress
              [percent]="85"
              [radius]="70"
              [imageSrc]="'../../assets/html.png'"
              [showImage]="true"
              [imageHeight]="70"
              [imageWidth]="70"
              [showUnits]="false"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C100'"
              [innerStrokeColor]="'#C7E596'"
              [showSubtitle]="false"
              [animation]="true"
              [animationDuration]="630"  
              [responsive]="true" 
          ></circle-progress>
        </div>
        <div class="col-4">
          <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C100'"
            [innerStrokeColor]="'#C7E596'"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="630" 
            [responsive]="true" 
          ></circle-progress>
        </div>
        <div class="col-4">
          <circle-progress
          [percent]="85"
          [radius]="70"
          [imageSrc]="'../../assets/html.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C100'"
          [innerStrokeColor]="'#C7E596'"
          [showSubtitle]="false"
          [animation]="true"
          [animationDuration]="630"  
          [responsive]="true" 
          ></circle-progress>
        </div>
        <div class="col-4">
          <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C100'"
        [innerStrokeColor]="'#C7E596'"
        [showSubtitle]="false"
        [animation]="true"
        [responsive]="true" 
        [animationDuration]="630"  
          ></circle-progress>
        </div>
        <div class="col-4">
        <circle-progress
      [percent]="85"
      [radius]="70"
      [imageSrc]="'../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C100'"
      [innerStrokeColor]="'#C7E596'"
      [showSubtitle]="false"
      [animation]="true"
      [responsive]="true" 
      [animationDuration]="630"  
        ></circle-progress>
      </div>     
    </div>  
  </div>
</div>
