<div class="sticky-top position-sticky">
  <nav class="navbar navbar-expand-lg fondo_nav sticky-top position-sticky">
  <div class="container-fluid regular shadow">
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="navbar-brand">
      <app-logo-ap></app-logo-ap>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#estudios">Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#lenguajes_y_aptitudes">Lenguajes y Aptitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#contacto">Contacto</a>
        </li>
      </ul>
    <app-redes></app-redes>
    <app-login></app-login>
    </div>
  </div>
  </nav>
</div>